{% extends "base.html" %}

{% block title %}
    FOOD FUSION | Your Order's Details
{% endblock %}

{% block content %}
<style>
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
</style>
{% include 'include/modal-orderdet.html' %}

<section id="">
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-11 mx-auto">
                <nav aria-label="breadcrumb" class="mb-4">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <!-- <li class="breadcrumb-item"><a href="#">Dashboard</a></li> -->
                        <li class="breadcrumb-item active" aria-current="page">Order Details</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-8 mx-auto mt-3">
                <table class="table table-hover center">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ORDER ID</th>
                            <th scope="col">TOTAL AMOUNT</th>
                            <th scope="col">ORDER DATE</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if orders %}
                        {% for order in orders %}
                        <tr>
                            <td>{{ order.order_id }}</td>
                            <td>{{ order.total_amount }}</td>
                            <td>{{ order.order_date }}</td>
                            <td><a href="#" id="orderdetails" class="btn btn-warning btn-sm" data-id="{{ order.order_id }}"
                                data-toggle="modal" data-target="#modal-order">
                                <i class="fas fa-eye"></i> View Details
                            </a></td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="4" class="text-center">
                                <h2 class="text-muted">There is No Data to Show</h2>
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
